body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: red;
    background-color: black;
}
#tabellaTombola {
   
}
#tabellaTombola > div {
width: 1%;
background-color: orange;
display: inline-block;
padding: 3%;
border: 1px solid ;
}

#contenitoreBottone{
    text-align: center;
}

#bottoneEstrai {
    background-color: crimson;
    margin: 5%;
    padding: 2%;
    font-weight: bold;
}